<h1>Dashboard</h1>

<h2> <%= @owner.name %> </h2>

<h3> Owner Panel </h3> 

<div class="solid">

  <%= render partial: "rooms", locals: {rooms: @rooms} %>
  <%= render partial: "unbilled_stays", locals: { unbilled_stays: @unbilled_stays, owner: @owner} %>
  <%= render partial: "invoices", locals: { invoices: @invoices, owner: @owner} %>

</div>

<h3> Guest Panel </h3> 

<div class="solid">

  <% # render partial: "guest_panel", locals: {rooms: @rooms, uncharged_stays: @uncharged_stays} %>

</div>
