<h2>Owner Dashboard</h2>

<h2> <%= @owner.name %> </h2>

<div class="dashboard">

  <div><%= render partial: "rooms", locals: {rooms: @rooms} %></div>
  <div><%= render partial: "unbilled_stays", locals: { unbilled_stays: @unbilled_stays, owner: @owner} %></div>
  <div><%= render partial: "invoices", locals: { invoices: @invoices, owner: @owner} %></div>

</div>

