<h1>Infinity Hotel </h1>
<p>Select the user to login:</p>



<table >
    <tr>
        <th> User </th>
        <th> Dashboards </th>
    </tr>
    <% @users.each do |u| %>
        <tr>
            <td> <%= "#{u.id} - #{u.name}" %> </td>
            <td> 
                <%= link_to "Owner", u.as_owner %>
                <%= link_to "Guest", u.as_guest %>
            </td>            
        </tr>
    <% end %>
</table>