<h1>Dashboard</h1>

<h2> <%= @user.name %> </h2>

<h3> Owner Panel </h3> 

<div class="solid">

  <%= render partial: "owner_rooms", locals: {rooms: @rooms} %>
  <%= render partial: "owner_unbilled_stays", locals: { unbilled_stays: @unbilled_stays, user: @user} %>
  <%= render partial: "owner_invoices", locals: { invoices: @invoices, user: @user} %>

</div>

<h3> Guest Panel </h3> 

<div class="solid">

  <% # render partial: "guest_panel", locals: {rooms: @rooms, uncharged_stays: @uncharged_stays} %>

</div>
