<h1>Dashboard</h1>

<h2> <%= @owner.name %> </h2>

<div class="solid">

  <%= render partial: "rooms", locals: {rooms: @rooms} %>
  <%= render partial: "unbilled_stays", locals: { unbilled_stays: @unbilled_stays, owner: @owner} %>
  <%= render partial: "invoices", locals: { invoices: @invoices, owner: @owner} %>

</div>

